@model IEnumerable<WebRegistroServicios.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear un nuevo Servicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClientesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientesNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdServicios">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdServicios">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdServicios">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
